<div class="p-4">
  <sc-title [title]="'Customers List'"></sc-title>
</div>

<div class="ms-5 me-5">
  <div class="d-flex justify-content-end mb-3">
    <dx-button [text]="'Add Customer'" [routerLink]="['/create-customer', 4, 'Create Customer']"  type="success" ></dx-button>
  </div>
  <dx-data-grid
    [dataSource]="customers$ | async"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [filterRow]="{ visible: true }"
    [paging]="{ enabled: true, pageSize: 5 }"
    [groupPanel]="{ visible: true }"
    [grouping]="{ autoExpandAll: true }"
    [sorting]="{ mode: 'multiple' }"
    [selection]="{ mode: 'single' }"
  >
    <!-- Column Chooser -->
    <dxo-column-chooser [enabled]="true" mode="dragAndDrop"></dxo-column-chooser>
    <dxo-paging
      [enabled]="true"
      [pageSize]="5"
      [pageIndex]="1"
     >
    </dxo-paging>
    <dxo-pager
      [visible]="true"
      [displayMode]="'full'"
      [showInfo]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 50]"
      infoText="Page #{0}. Total: {1} ({2} items)"
      [showNavigationButtons]="true">
    </dxo-pager>

    <!-- Load Panel -->
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <!-- Define columns for Staff -->
    <dxi-column dataField="title" caption="Title"></dxi-column>
    <dxi-column dataField="userName" caption="User Name"></dxi-column>
    <dxi-column dataField="firstName" caption="First Name"></dxi-column>
    <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
    <dxi-column dataField="email" caption="Email"></dxi-column>
    <dxi-column dataField="isActive" caption="Active" [dataType]="'boolean'"></dxi-column>
    <dxi-column dataField="phone" caption="Phone"></dxi-column>
    <dxi-column caption="View Detail" [width]="130" [cellTemplate]="'viewDetailButtonTemplate'" >
      <div *dxTemplate="let data of 'viewDetailButtonTemplate'">
        <dx-button [text]="'View Detail'" [routerLink]="['/view-user', data.data.userId, 'Customer Profile']" type="success" ></dx-button>
      </div>
    </dxi-column>

    <dxi-column caption="Deactivate" [width]="150" [cellTemplate]="'deleteButtonTemplate'" >
      <div *dxTemplate="let data of 'deleteButtonTemplate'">
        <dx-button [text]="'Deactivate'" type="danger" ></dx-button>
      </div>
    </dxi-column>

  </dx-data-grid>

</div>
