
.dx-trackbar-range .dx-progressbar-range {
  background-color: #342c2c !important;
}

.dx-trackbar-range{
  background-color: #342c2c !important;
}

.dx-progressbar-range {
  background-color: #342c2c !important;
}

