<div class="row offset-2 col-8 mt-4 bg-light p-4 rounded-2 border border-3 border-steel-blue">
  <div class="h-100">
    <div class="enquiry-container mt-4 p-4 border rounded-2">
      <dx-form>
        <dxi-item itemType="group">
          <dxi-item [dataField]="'enquiryType'">
            <dx-select-box
              [dataSource]="enquiryTypes"
              [valueExpr]="'enquiryTypeId'"
              [displayExpr]="'enquiryName'"
              [value]="replyInfo?.enquiryTypeId"
            ></dx-select-box>
          </dxi-item>
        </dxi-item>
      </dx-form>

      <div class="mt-3">

      <dx-accordion
        itemTemplate="item"
        [collapsible]="true"
        [multiple]="true"
        itemTitleTemplate="title"
        [dataSource]="messages" >

        <div class="dx-theme-accent-as-background-color dx-theme-background-color-as-text-color" *dxTemplate="let data of 'title'">
          @if(data.sender) {
            <div>
              {{'Sender: ' + (data.senderUserId !== currentUserId ? data.sender : 'You') + ' - ' + (data.messageDate | date:'short')}}
            </div>

          } @else if (data.receiver) {
            <div>
            {{'Sender: ' + (data.receiverUserId !== currentUserId ? data.receiver : 'You') + ' - ' + (data.messageDate | date:'short')}}
            </div>
          }
        </div>
        <div *dxTemplate="let data of 'item'">
          <div>{{ data.messageContent }}</div>
        </div>

      </dx-accordion>

      <div *ngIf="messages.length > 0" class="mt-3 mb-3">
        <dx-text-area [(ngModel)]="replyMessageContent" [height]="100" [maxLength]="3000" placeholder="Write your reply here"></dx-text-area>
        <div class="d-flex justify-content-end mt-2">
          <dx-button text="Send" type="success" (onClick)="submitReply()"></dx-button>
          <dx-button text="Cancel" type="danger" class="ms-2" (onClick)="goBack()"></dx-button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="p-3 dx-theme-accent-as-background-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-accent-as-background-color</p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-accent-as-border-color border border-3">-->
<!--  <p class="fw-bold fs-4">dx-theme-accent-as-border-color-->
<!--  </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-accent-as-text-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-accent-as-text-color-->
<!--  </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-background-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-background-color-->
<!--  </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-background-color-as-border-color border border-3">-->
<!--  <p class="fw-bold fs-4">dx-theme-background-color-as-border-color-->
<!--  </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-background-color-as-text-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-background-color-as-text-color</p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-border-color border border-3">-->
<!--  <p class="fw-bold fs-4">dx-theme-border-color</p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-border-color-as-background-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-border-color-as-background-color</p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-border-color-as-text-color border border-3">-->
<!--  <p class="fw-bold fs-4">dx-theme-border-color-as-text-color </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-text-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-text-color  </p>-->
<!--</div>-->

<!--<div class="p-3 dx-theme-text-color-as-background-color">-->
<!--  <p class="fw-bold fs-4">dx-theme-text-color-as-background-color</p>-->
<!--</div>-->


<!--<div class="p-3 dx-theme-text-color-as-border-color border border-3">-->
<!--  <p class="fw-bold fs-4">dx-theme-text-color-as-border-color </p>-->
<!--</div>-->
