
@if (isIntroPage) {
  <div class="dark-green p-3">
  </div>
  <div class="d-flex flex-column">
    <div class="thick-green p-3 d-flex align-items-start justify-content-start head-banner">
      <a routerLink="/home">
        <h1 class="logo">Spice Craft</h1>
      </a>
      <div class="flex-grow-1 d-flex justify-content-end align-items-center gap-4 text-light head-navigation">
        <a routerLink="/home" routerLinkActive="activated">Home</a>
        @if (isAuthenticated) {
          <a routerLink="/dashboard" routerLinkActive="activated">Dashboard</a>
          <a routerLink="/logout" routerLinkActive="activated" >Logout</a>
        }
        @else {
          <a routerLink="/customer-registration" routerLinkActive="activated">Register</a>
          <a routerLink="/login" routerLinkActive="activated" >Login</a>
        }
      </div>
    </div>

    <div class="flex-grow-1 flex-fill">
      <router-outlet></router-outlet>
    </div>

    <div class="bg-dark p-5 align-items-end justify-content-end">
      <p class="text-light text-center">Spice Craft</p>
      <p class="text-light text-center">It is just a college industry project made for Lincoln</p>
    </div>
  </div>
}
@else {
  @if (userType === 'client') {
    <div class="bg-pale-green">
      <div class="row col-12">
        <div  class="navigation-content row col-2">
          <sc-side-navigation [userType]="userType"></sc-side-navigation>
        </div>
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  }
  @else {
    <div class="bg-pale-green">
      <div class="row col-12">
        <div  class="navigation-content row col-2">
          <sc-side-navigation [userType]="userType"></sc-side-navigation>
        </div>
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  }
}
