<div class="p-4">
  <sc-title [title]="'Menu Items'"></sc-title>
</div>

<!--Show Add product only for internal users-->
<div class="row offset-1 col-10">
  <div *ngIf="!isUserExternal" class="d-flex justify-content-end">
    <a class="btn btn-info" >Add Product</a>
  </div>
</div>
<!-- Product Filter form section -->
<div class="offset-1 col-10 mt-4 bg-light rounded-2 border border-3 brdr-red-saffron">
  <div>
    <div class="p-3 bg-light-coffee-2 border-bottom border-3 brdr-red-saffron">
      <h4 class="text-center">Filter Product</h4>
      <form (ngSubmit)="applyFilter()">
        <div class="row">
          <div class="col">
            <!-- Keyword input -->
            <dx-text-box
              [(value)]="filterForm.keyword"
              placeholder="Enter keyword to search..."
              [disabled]="false"
            >
              <dxo-label text="Keyword"></dxo-label>
            </dx-text-box>
          </div>
          <div class="col">
            <!-- Category select box -->
            <dx-select-box
              [(value)]="filterForm.categoryId"
              [items]="categories"
              displayExpr="category_name"
              valueExpr="category_id"
              placeholder="Select Category"
              [disabled]="false"
              (onValueChanged)="getSubCategories()"
            >
              <dxo-label text="Category"></dxo-label>
            </dx-select-box>
          </div>
          <div class="col">
            <!-- Sub Category select box -->
            <dx-select-box
              [(value)]="filterForm.subCategoryId"
              [items]="subCategories"
              displayExpr="category_name"
              valueExpr="category_id"
              placeholder="Select Sub Category"
              [disabled]="false"
            >
              <dxo-label text="Sub Category"></dxo-label>
            </dx-select-box>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- Filter By select box -->
            <dx-select-box
              [(value)]="filterForm.filter"
              [items]="productFilters"
              displayExpr="value"
              valueExpr="key"
              placeholder="Filter By"
              [disabled]="false"
            >
              <dxo-label text="Filter By"></dxo-label>
            </dx-select-box>
          </div>
          <div class="col">
            <!-- Sort By select box -->
            <dx-select-box
              [(value)]="filterForm.sorting"
              [items]="productSorting"
              displayExpr="value"
              valueExpr="key"
              placeholder="Sort By"
              [disabled]="false"
            >
              <dxo-label text="Sort By"></dxo-label>
            </dx-select-box>
          </div>
          <div class="col d-flex align-items-center">
            <!-- Apply Filter Button -->
            <button type="submit" class="btn btn-success mt-3">Apply Filter</button>
            <!-- Reset Button -->
            <button type="button" class="btn btn-danger ms-2 mt-3 ps-3 pe-3" (click)="resetFilter()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Showing menu items in gallery view-->
<div class="offset-1 col-10">
  <div class="d-flex justify-content-start flex-wrap">
    @for (item of menuItems; track item) {
      <sc-item-card [menuItem]="item" [showAddToCart]="isUserExternal"></sc-item-card>
    } @empty {
      <div class="p-5 center-content">
        <div class="alert alert-warning text-center mt-3">
          <span>Sorry No Menu Items found</span>
        </div>
      </div>
    }
  </div>
</div>
