<div class="p-4">
  <sc-title [title]="'Menu Items'"></sc-title>
</div>

<!--Show Add product only for internal users-->
<div class="row offset-1 col-10">
  <div *ngIf="!isUserExternal" class="d-flex justify-content-end">
    <a class="btn btn-info" >Add Product</a>
  </div>
</div>
<!-- Product Filter form section -->
<div class="offset-1 col-10 mt-4 bg-light rounded-2 border border-3 brdr-red-saffron">
  <div>
    <div class="pt-1 pb-1 ps-4 pe-4 bg-light-coffee-2 border-bottom border-3 brdr-red-saffron">
      <h4 class="text-center">Filter Product</h4>
      <form (ngSubmit)="applyFilter()">
        <div class="row">
          <div class="col">
            <!-- Keyword input with label -->
            <div class="form-group">
              <label class="form-label" for="keyword">Keyword</label>
              <dx-text-box
                id="keyword"
                [(value)]="filterForm.keyword"
                placeholder="Enter keyword to search..."
                [disabled]="false"
              ></dx-text-box>
            </div>
          </div>
          <div class="col">
            <!-- Category select box with label -->
            <div class="form-group">
              <label class="form-label" for="category">Category</label>
              <dx-select-box
                id="category"
                [(value)]="filterForm.categoryId"
                [items]="categories"
                displayExpr="value"
                valueExpr="key"
                placeholder="Select Category"
                [disabled]="false"
                (onValueChanged)="getSubCategories()"
              ></dx-select-box>
            </div>
          </div>
          <div class="col">
            <!-- Sub Category select box with label -->
            <div class="form-group">
              <label class="form-label" for="subCategory">Sub Category</label>
              <dx-select-box
                id="subCategory"
                [(value)]="filterForm.subCategoryId"
                [items]="subCategories"
                displayExpr="value"
                valueExpr="key"
                placeholder="Select Sub Category"
                [disabled]="false"
              ></dx-select-box>
            </div>
          </div>
        </div>

        <div class="p-1"></div>
        <div class="row">
          <div class="col">
            <!-- Filter By select box with label -->
            <div class="form-group">
              <label class="form-label" for="filterBy">Filter By</label>
              <dx-select-box
                id="filterBy"
                [(value)]="filterForm.filter"
                [items]="productFilters"
                displayExpr="value"
                valueExpr="key"
                placeholder="Filter By"
                [disabled]="false"
              ></dx-select-box>
            </div>
          </div>
          <div class="col">
            <!-- Sort By select box with label -->
            <div class="form-group">
              <label class="form-label" for="sortBy">Sort By</label>
              <dx-select-box
                id="sortBy"
                [(value)]="filterForm.sorting"
                [items]="productSorting"
                displayExpr="value"
                valueExpr="key"
                placeholder="Sort By"
                [disabled]="false"
              ></dx-select-box>
            </div>
          </div>
          <div class="col d-flex align-items-center">
            <!-- Apply Filter Button -->
            <button type="submit" class="btn btn-success mt-3">Apply Filter</button>
            <!-- Reset Button -->
            <button type="button" class="btn btn-danger ms-2 mt-3 ps-3 pe-3" (click)="resetFilter()">Reset</button>
          </div>
        </div>
      </form>
      <div class="p-1"></div>
    </div>
  </div>
</div>


<!-- Showing menu items in gallery view-->
<div class="offset-1 col-10">
  <div class="d-flex justify-content-start flex-wrap">
    @for (item of menuItems; track item) {
      <sc-item-card
         [menuItem]="item"
         [showAddToCart]="isUserExternal"
         (addToCart)="onAddToCartClick($event)"
      >

      </sc-item-card>
    } @empty {
      <div class="p-3 center-content flex-grow-1 mt-4">
        <div class="alert alert-warning text-center mt-3">
          <span>Sorry No Menu Items found</span>
        </div>
      </div>
    }
  </div>
</div>

<div>
  <sc-add-to-cart [itemId]="itemIdToAddToCart()" ></sc-add-to-cart>
</div>
