
<div class="mt-3">
  <sc-title [title]="'Payment Detail'"></sc-title>
</div>

<div class="container p-4 pt-0">
<div class="mt-4 bg-light p-3 rounded-2 border border-3 border-steel-blue">
  <div class="row justify-content-center">
    <div class="col-12 mb-3 d-flex justify-content-center">
      <div class="col-12 row">
        <div class="checkout-box col-4 offset-2">
          <h5 class="text-center mb-4">Order Info</h5>
          <dx-form [formData]="paymentInfo" labelLocation="top">
            <!-- Shipping Type -->
            <dxi-item dataField="shippingOptionName" label="Shipping Type" [editorOptions]="{ disabled: true }">
              <dxi-validation-rule type="required" message="Shipping Type is required"></dxi-validation-rule>
            </dxi-item>
            <!-- Sub Total -->
            <dxi-item dataField="subTotal" label="Sub Total" [editorOptions]="{ disabled: true }" ></dxi-item>
            <!-- Shipping Cost -->
            <dxi-item dataField="shippingCost" label="Shipping Cost" [editorOptions]="{ disabled: true }"></dxi-item>
            <!-- Total -->
            <dxi-item dataField="amount" label="Total" [editorOptions]="{ disabled: true }"></dxi-item>
            <!-- Payment Status -->
            <dxi-item>
              <div class="d-flex justify-content-between border-top border-info pt-2">
                <p>{{ paymentInfo?.paymentStatus === 'Paid' ? 'You Paid' : 'Need to Pay' }}:</p>
                <p>${{ paymentInfo?.amount }}</p>
              </div>
            </dxi-item>

            <div *dxTemplate="let data of 'priceTemplate'">
              <span>{{ data.editorOptions.value }}</span>
            </div>
          </dx-form>
        </div>

        <!-- Contact Info -->
        <div class="col-4 pt-3 checkout-box  offset-1">
          <h5 class="text-center mb-4">Contact Info</h5>
          <dx-form [formData]="contactInfo" labelLocation="top">
            <!-- Name -->
            <dxi-item dataField="name" label="Name" [editorOptions]="{ disabled: true }"></dxi-item>
            <!-- Email -->
            <dxi-item dataField="email" label="Email" [editorOptions]="{ disabled: true }"></dxi-item>
            <!-- Phone -->
            <dxi-item dataField="phone" label="Phone" [editorOptions]="{ disabled: true }"></dxi-item>
          </dx-form>
        </div>
      </div>

      <!-- Shipping Address -->
      <div *ngIf="orderPayments.shipping_option_name !== 'Pick Up'" class="checkout-box offset-1 col-3">
        <h5 class="text-center mb-4">Shipping Address</h5>
        <dx-form [formData]="userAddress" labelLocation="top">
          <dxi-item dataField="streetAddress1" label="Street Address 1" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="streetAddress2" label="Street Address 2" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="city" label="City" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="state" label="State" [editorOptions]="{ disabled: true }"></dxi-item>
          <dxi-item dataField="postalCode" label="Postal Code" [editorOptions]="{ disabled: true }"></dxi-item>
        </dx-form>
      </div>
    </div>
  </div>

  <!-- Order Items Table -->
  <div class="row mt-4">
    <h5 class="text-center mb-4">Order Items</h5>
    <dx-data-grid [dataSource]="orderDetails" [showBorders]="true">
      <dxi-column dataField="itemName" caption="Item Name"></dxi-column>
      <dxi-column dataField="quantity" caption="Quantity"></dxi-column>
      <dxi-column dataField="price" caption="Price" format="currency"></dxi-column>
      <dxi-column dataField="total" caption="Total" format="currency"></dxi-column>
    </dx-data-grid>
  </div>
</div>

</div>
