<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a7deab6f-742f-478c-a8da-3794ac654ac2/resourceGroups/SpiceCraft/providers/Microsoft.ContainerRegistry/registries/SpiceCraft</ResourceId>
    <ResourceName>SpiceCraft</ResourceName>
    <ResourceGroup>SpiceCraft</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://spicecraft.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2ccd5cde-6324-463d-95ca-dfc093700f38</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>